/* ImageCard.module.css */
.imageCard {
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .imageContainer {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, opacity 1.3s ease;
  }
  
  .slideOut {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .hidden {
    opacity: 0;
  }
  
  .text {
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  