
.teamContainer {
  content: "";
  display: table;
  clear: both;
  padding-top: 28px;
  padding-right: 16px;
  padding-bottom: 28px;
  padding-left: 16px;
  line-height: 200%;
  width: 100%;
  z-index: 1;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s;
  


}
.image:hover {
  transform: scale(1.2);
  cursor: pointer;
  opacity: 0.7;
}


.imgLink {
  margin-left: 6px; /* Add spacing between images */
  margin-right: 6px; /* Add spacing between images */
  flex: 1; /* Allow images to expand equally in the available space */
}



/* STYLES FOR THE GREEN CORNER ON HOVER EFFECT*/

.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
}

.nav a {
  padding: .5em .8em;
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #3E8914;
  border-right: 3px solid #2E640F;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #2E640F;
  border-left: 3px solid #3E8914;
  transform: translate(100%, -250%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: #3DA35D;
}





